---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /_site/
Disallow: /node_modules/

Sitemap: {{ site.url }}/sitemap.xml
Sitemap: {{ site.url }}/sitemap-static.xml
